<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp templatemo-box"
        data-wow-delay="0.3s">
        <i class="fa fa-code"></i>
        <h3 class="text-uppercase">Experienced Team</h3>
        <p>Twenty plus combined years in Software Engineering has taught us if you want it then build it,
        because someone else probably does too.  </p>
        
    </div>
    <div class="col-md-4 wow fadeInUp templatemo-box"
      data-wow-delay="0.3s">
      <i class="fa fa-heart"></i>
      <h3 class="text-uppercase">For Golfers By Golfers</h3>
      <p>We searched high and low to for a website to handle our league pools but couldn't find
        one that does what we wanted. We look forward to hosting a golf pool site
        built by golfers for golfers. </p>
      
  </div>
  <div class="col-md-4 wow fadeInUp templatemo-box"
    data-wow-delay="0.3s">
    <i class="fa fa-calendar"></i>
    <h3 class="text-uppercase">Coming Soon</h3>
    <p>Expect to start running your golf pools through Golf Pool Masters sometime
      in early 2019! </p>
    </div>
    </div>
    </div>
</section>
