<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="text-upper">Golf Pool Masters</h1>
          <p class="tm-white">Do you love playing, watching, and/or gambling on golf? So do we!! What started as
            wagers after golf league on the next PGA tour event is now turning into GolfPoolMasters.com. 
          </p>
          <img src="~assets/images/icon-tournaments.png" class="img-responsive" alt="home img">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>